{% extends 'base.html' %}
{% load static %}

{% block title %}
  Aluno | FitTrack
{% endblock %}

{% block page_title %}
  <h1>Alunos</h1>
{% endblock %}

{% block content %}
  <div class="aluno-page">
    <div class="aluno-profile content-card">
      {% if aluno.usuario.foto %}
        <img src="{{ aluno.usuario.foto.url }}" class="aluno-avatar" />
      {% else %}
        <img src="{% static 'img/avatar-default.png' %}" class="aluno-avatar" />
      {% endif %}

      <div class="aluno-info">
        <h2>{{ aluno.usuario.nome }}</h2>

        <span>{{ aluno.usuario.email }}</span>

        <span>{{ aluno.usuario.telefone }}</span>

        {% with matricula=aluno.matriculas.first %}
          {% if matricula %}
            <span>{{ matricula.plano.nome }}</span>
          {% else %}
            <span>Sem plano cadastrado</span>
          {% endif %}
        {% endwith %}

        {% if aluno.ativo %}
          <span class="badge badge-success">Ativo</span>
        {% else %}
          <span class="badge badge-danger">Inativo</span>
        {% endif %}
      </div>
    </div>

    <div class="content-card">
      <h3>Informações</h3>

      <table class="table" style="table-layout: fixed;">
        <colgroup>
          <col style="width:10%;" />
          <col style="width:90%;" />
        </colgroup>
        <tbody>
          <tr>
            <th>CPF</th>
            <td>{{ aluno.usuario.cpf }}</td>
          </tr>

          <tr>
            <th>E-mail</th>
            <td>{{ aluno.usuario.email }}</td>
          </tr>

          <tr>
            <th>Telefone</th>
            <td>{{ aluno.usuario.telefone }}</td>
          </tr>

          <tr>
            <th>Data de Nascimento</th>
            <td>{{ aluno.data_nascimento|date:'d/m/Y' }}</td>
          </tr>

          <tr>
            <th>Plano</th>

            <td>
              {% with matricula=aluno.matriculas.first %}
                {% if matricula %}
                  {{ matricula.plano.nome }}
                {% else %}
                  Sem plano cadastrado
                {% endif %}
              {% endwith %}
            </td>
          </tr>

          <tr>
            <th>Status</th>

            <td>
              {% if aluno.ativo %}
                Ativo
              {% else %}
                Inativo
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
