{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Aluno | FitTrack
{% endblock %}

{% block page_title %}
  <h1>Alunos</h1>
{% endblock %}

{% block content %}
  <div class="aluno-page">
    <div class="page-header">
      <div>
        <h2>
          {% if object %}
            Editar Aluno
          {% else %}
            Novo Aluno
          {% endif %}
        </h2>

        <p>Preencha as informações do aluno.</p>
      </div>
    </div>

    <form method="post" enctype="multipart/form-data" class="form">
      {% csrf_token %}

      <div class="form-section">
        <h3 class="form-title">Dados Pessoais</h3>

        <div class="form-grid">{{ form|crispy }}</div>
      </div>

      <div class="form-footer">
        <button type="button" class="btn btn-outline">Cancelar</button>

        <button type="submit" class="btn btn-primary">
          <i class="bi bi-check-lg"></i>

          Salvar
        </button>
      </div>
    </form>
  </div>
{% endblock %}
