{% load static %}
{% load permissions %}

<header class="topbar">
  <div class="topbar-left">
    <button class="topbar-menu"><i class="bi bi-list"></i></button>
  </div>

  <div class="topbar-right">
    <button class="topbar-icon"><i class="bi bi-search"></i></button>

    <button class="topbar-icon"><i class="bi bi-bell"></i></button>

    <button class="topbar-icon"><i class="bi bi-moon"></i></button>

    <div class="topbar-user">
      {% if request.user.foto %}
        <img src="{{ request.user.foto.url }}" />
      {% else %}
        <img src="{% static 'img/avatar-default.png' %}" />
      {% endif %}

      <div class="user-info">
        <strong>{{ request.user.nome }}</strong>

        <small>
          {% if request.user|has_group:'Administrador' %}
            Administrador
          {% elif request.user|has_group:'Professor' %}
            Professor
          {% elif request.user|has_group:'Aluno' %}
            Aluno
          {% endif %}
        </small>
      </div>
    </div>
  </div>
</header>
