.container {
    width: min(1400px, 92%);

    margin: auto;
}

.flex {
    display: flex;
}

.flex-between {
    display: flex;

    justify-content: space-between;

    align-items: center;
}

.flex-center {
    display: flex;

    justify-content: center;

    align-items: center;
}

.grid {
    display: grid;

    gap: 24px;
}

.shadow {
    box-shadow: var(--shadow-md);
}

.radius {
    border-radius: var(--radius-md);
}

.mt-1 {
    margin-top: 8px;
}

.mt-2 {
    margin-top: 16px;
}

.mt-3 {
    margin-top: 24px;
}

.mb-1 {
    margin-bottom: 8px;
}

.mb-2 {
    margin-bottom: 16px;
}

.mb-3 {
    margin-bottom: 24px;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}