/*==================================================
                BREADCRUMB
==================================================*/

.breadcrumb {
  display: flex;

  align-items: center;

  gap: 8px;

  font-size: 14px;

  color: var(--text-light);
}

.breadcrumb a {
  transition: var(--transition);
}

.breadcrumb a:hover {
  color: var(--accent);
}

.breadcrumb span {
  color: var(--primary);
}
